# Ignore node_modules
node_modules
.env
# Ignore JetBrains IDE files
.idea/*
.idea
.idea/dataSources/*

# Ignore macOS specific files
.DS_Store

# Ignore cache in node_modules
node_modules/cache/*
node_modules/*

.idea/dataSources/cbc9a03b-4e8a-4462-8634-690c1be440c7/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
.idea/dataSources/cbc9a03b-4e8a-4462-8634-690c1be440c7.xml
.idea/dataSources/cbc9a03b-4e8a-4462-8634-690c1be440c7/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
.idea/misc.xml
*.xml
*.xml
*.meta
/.idea/dataSources
/.idea/dataSources
*.xml
*.meta
.idea/dataSources/cbc9a03b-4e8a-4462-8634-690c1be440c7/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
.idea/dataSources/cbc9a03b-4e8a-4462-8634-690c1be440c7.xml
/.idea
/.idea
.idea/dataSources/cbc9a03b-4e8a-4462-8634-690c1be440c7.xml
*.xml
*.meta
.idea/dbnavigator.xml
.idea/sqldialects.xml
.idea/dataSources/cbc9a03b-4e8a-4462-8634-690c1be440c7/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
.idea/dataSources.local.xml
/.idea
