# Ignore node_modules
node_modules/

# Ignore JetBrains IDE files
.idea/
.idea/dataSources/*

# Ignore macOS specific files
.DS_Store

# Ignore cache in node_modules
node_modules/cache/*
node_modules/*

