.info-div {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 80px;
  z-index: 1000; /* High z-index value to ensure it stands out */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}

.more-info-icon {
  background: none !important;

  & img {
    background: white;
    border: none;
    vertical-align: bottom;
  }
}