@import '../create-edit-article/upload';
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.center-header {
  margin: 0 auto;
}

.add-textarea-height {
  height: 300px;
  resize: none;
}

.edit-form-bgr {
  //background-color: #4b111b;
  background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100%;
  min-height: 100vh;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  & button {
    border: none;
    outline: none;
  }

  & input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid red;
  }
}

/****************
      FORM
*****************/
.signup {
  background-color: white;
  width: 100%;
  max-width: 1000px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.edit-header {
  & h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 40px;

    & span {
      text-decoration: underline;
      cursor: pointer;
      color: #a4243b;
    }
  }
}

/*  Field */
.signup__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}

.signup__field:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: #a4243b;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}

.signup__field:hover:before {
  width: 100%;
}

/*  Input */
.signup__input {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 5px 2px 0;
  border-bottom: 2px solid #e0e0e0;
}

/*  Label */
.signup__label {
  color: #bdbdbd;
  position: absolute;
  top: 13%;
  transform: translateY(-50%);
  left: 2px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
  top: 0;
  font-size: 1rem;
  background-color: white;
}

/*  Button */
.edit-section {
  background: #a4243b;
  color: white;
  padding: 12px 0;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
}

.edit-section:hover {
  background: #4b111b;
}

.upload-image-name-edit {
  @extend .upload-image-name;
  left: 36em;
}

.delete_section {
  display: flex;
  justify-content: center;

  & img {
    width: 56px;
    height: auto;
  }
}


//checkbox
.show-article {
  transform: rotate(270deg);
  position: absolute;
  z-index: 9;
  top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  left: 34em
}

#check {
  display: none;
}

#check + label {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 20px;
  transition: all .5s;
}

#check + label::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 20px;
  background-color: black;
  left: calc(50% - 2.5px);
  transition: all .5s;
}

#check + label > #flugHead {
  position: absolute;
  width: 25px;
  height: 20px;
  border-radius: 10px 10px 0 0;
  border: 1px solid black;
  top: 100%;
  left: -1px;
  background-color: white;
}

#check + label > #flugHead::before {
  content: "";
  display: inline-block;
  box-shadow: 3px 13px 0 0 black, 17px 13px 0 0 black;
  width: 5px;
  height: 60%;
  transition: all .3s .3s;
  z-index: -1;
  position: absolute;
  top: 8px;
}

#check:checked + label > #flugHead::before {
  transform: translateY(-100%);
}

#check:checked + label,
#check:checked + label::after {
  animation: flugedIn .5s ease-in-out;
  height: 100px;
}

#plug {
  width: 30px;
  height: 25px;
  position: absolute;
  top: 110px;
  border: 1px solid black;
  border-radius: 5px;
  left: -3px;
}

.add-color-orange {
  color: coral;
  position: absolute;
  top: 6em;
}

.add-color-green {
  color: green;
  position: absolute;
  top: 6em;
}

#plug::before {
  content: "";
  width: calc(100% - 4px);
  height: 50%;
  position: absolute;
  background-color: inherit;
}

// upload

#input-file-edit {
  /* Style the file input itself */
  display: block;
  margin: 0 auto;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  font-size: 16px;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  /* Add more styles as needed */
}

#input-file-edit::file-selector-button {
  /* Style the "Choose File" button */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#input-file-edit::file-selector-button:hover {
  /* Style the button on hover (optional) */
  background-color: #0056b3;
  box-shadow: 0px 15px 20px rgba(46, 141, 229, 0.4);
  transform: translateY(-7px);
}

.edit-form-styles {
  height: 100%;
  justify-content: center;
  margin-top: 6%;
}

.edit-send-button {
  display: block;
  width: 250px;
  height: 45px;
  margin: 8% auto 20px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.edit-send-button:hover {
  background-color: #0056b3;
  box-shadow: 0px 15px 20px rgba(46, 141, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

@keyframes flugedIn {
  from {
    height: 20px;
  }

  to {
    height: 100px;
  }
}